*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../image/image.jpeg);
    background-size: cover;
}

.container{
    height: 650px;
    width: 400px;
    border: 5px solid brown;
    margin: 25px auto;
    border-radius: 15px;
}

.container h1{
    text-align: center;
    color: lightcoral;
    margin-bottom: 35px;
}

.input input{
    width: 95%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    /* border-color: lightcoral; */
    border: none;
}

.input label{
    font-size: 18px;
    color: #333;
    font-weight: 300;
    padding-left: 10px;
}

.gender p{
    margin: 15px;
    font-size: 25px;
    font-weight: 500;

}

.option{
    margin: 10px;
}

.option label{
    cursor: pointer;
}


.submit_btn input{
    width: 50%;
    margin: 20px 94px;
    padding: 10px;
    border: none;
    background-color: lightcoral;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    
}